
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
#video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center; }
#div1{
  z-index: 200;
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Pier Sans", sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  padding: 8px 20px 5px;
  position: absolute;
  text-align: center;
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn {
  background: transparent;
  border: 2px solid #F2F2F2;
  color: #F2F2F2;
  font-size: 16px;
  font-family: "Pier Sans", sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  padding: 8px 20px 5px;
  outline: none !important;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
          transition: background-color 0.2s ease-in, color 0.2s ease-in; }
  .btn:nth-of-type(1) {
    margin-right: 30px; }
  .btn:hover {
    background: #F2F2F2 !important;
    color: #333;
    cursor: pointer; }
.wrapper {
  height: 100%; }
  .wrapper .overlay {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%; }
    .wrapper .overlay .options {
      opacity: 0; }
  .wrapper .overlay-active {
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 98; }
    .wrapper .overlay-active .options {
      position: absolute;
      opacity: 1;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .wrapper .overlay[data-role="pause"] p {
    color: #F2F2F2;
    font-size: 50px;
    font-family: "Pier Sans", sans-serif;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99; }
  .controls .control {
    background: transparent;
    border: none;
    color: #F2F2F2;
    font-size: 28px;
    padding: 10px;
    -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
    outline: none; }
    .controls .control:hover {
      color: yellow !important; }
  .controls .right {
    float: right; }
  .controls .left {
    float: left; }

body { display:block; }
@media only screen and (orientation:portrait){
  body {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  body {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
