$white: #F2F2F2

html, body
  height: 100%
  width: 100%
  margin: 0

#video
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
  transform: translate(-50%, -50%)
  background-size: cover
  background-position: center


.btn
  background: transparent
  border: 2px solid $white
  color: $white
  font-size: 16px
  font-family: "Pier Sans", sans-serif
  text-transform: uppercase
  line-height: 40px
  padding: 8px 20px 5px
  outline: none !important
  transition: background-color .2s ease-in, color .2s ease-in

  &:nth-of-type(1)
    margin-right: 30px

  &:hover
    background: $white !important
    color: #333
    cursor: pointer

.wrapper
  height: 100%

  .overlay
    height: 100%
    opacity: 0
    transition: all .5s ease-in-out
    position: absolute
    width: 100%

    .options
      opacity: 0

  .overlay-active
    background: rgba(0, 0, 0, .7)
    opacity: 1
    z-index: 98

    .options
      position: absolute
      opacity: 1
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .overlay[data-role="pause"]
    p
      color: $white
      font-size: 50px
      font-family: "Pier Sans", sans-serif
      text-transform: uppercase
      position: absolute
      text-align: center
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)




.controls
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 0 5px
  background: rgba(0, 0, 0, .6)
  z-index: 99

  .control
    background: transparent
    border: none
    color: $white
    font-size: 28px
    padding: 10px
    transition: all .15s ease-in-out
    outline: none

    &:hover
      color: yellow !important

  .right
    float: right

  .left
    float: left
