@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?kv5n6n');
    src:    url('icomoon.eot?kv5n6n#iefix') format('embedded-opentype'),
        url('icomoon.ttf?kv5n6n') format('truetype'),
        url('icomoon.woff?kv5n6n') format('woff'),
        url('icomoon.svg?kv5n6n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-controller-paus:before {
    content: "\e900";
}
.icon-controller-play:before {
    content: "\e901";
}
.icon-resize-100:before {
    content: "\e902";
}
.icon-resize-full-screen:before {
    content: "\e903";
}
.icon-sound-mute:before {
    content: "\e904";
}
.icon-sound:before {
    content: "\e905";
}
